@page "/public"
@page "/{username}"
@inject HttpClient http


<h2>public timeline</h2>
@if (User is not null)
{
    if(endpoint == "user_timeline")
    {
        <div class=followstatus>
            @*am I on my own timeline?*@
            @if(User.Username == username)
            {
                <span>this is you!</span>
            }
            <span></span>
            @if(Followed)
            {}
                <span>You are currently following this user.</span>
                <a class=unfollow href="url_for('unfollow_user', username=profile_user.username)">Unfollow user</a>.
            }
            else 
            {
                <span>You are not yet following this user.</span>
                <a class=follow href="{{ url_for('follow_user', username=profile_user.username)
                    }}">Follow user</a>.
            }
        </div>    
    }
    else if (endpoint == "timeline")
    {
        <div class=twitbox>
        <h3>What's on your mind {{ g.user.username }}?</h3>
        <form action="{{ url_for('add_message') }}" method=post>
            <p>
                <input type=text name=text size=60>
                    
                <input type=submit value="Share">
            </p>
        </form>
        </div>
    }
}
<span>@username</span>
<ul class=messages>
    @if (TwitData.Any())
    {
        @foreach (var msgAuthor in TwitData)
        {
            <li>
                @* Replace text@example.com with msg.email, msg.author.email*@
                <img src=@gravatars[msgAuthor.Item2.email]>
                <p>
                    <strong><a href="@msgAuthor.Item2.username">@msgAuthor.Item2.username</a></strong>
                    @msgAuthor.Item1.Text
                    <small>&mdash; @msgAuthor.Item1.PubDate?.ToString("yyyy MM dd @ HH:mm", DateTimeFormatInfo.InvariantInfo) </small>
                </p>
            </li>
        }
    }
    else 
    {
        <li><em>There's no message so far.</em></li>
    }
</ul>

@code 
{
    [CascadingParameter]
    public User? User {get; set;}

    public bool Followed { get; set; }

    [Parameter]
    public string username { get; set; } = "";
    public User ProfileUser { get; set; }

    public string endpoint {get; set;} = "timeline";

    public List<MsgDataPair> TwitData { get; set; } = new List<MsgDataPair>();
    private Dictionary<string, string> gravatars = new Dictionary<string, string>();
    private int gravatarSize = 48;

    protected override async Task OnInitializedAsync()
    {
        var res = await http.GetFromJsonAsync<MsgDataPair[]>("/minitwit");
        
        foreach(var m in res!)
        {
            // TODO: Somehow get the email of message author.
            var authormail = m.Item2.email;
            gravatars[authormail] = await http.GetStringAsync($"/minitwit/md5/{authormail}/{gravatarSize}");
        }
        TwitData = res!.ToList();
    }
}